# common --cxxopt='-std=c++20' This doesn't work on windows
# setup hermetic toolchains later on if we care.

startup --host_jvm_args=-Xmx2g
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1
common --java_language_version=11
common --tool_java_language_version=11
common --tool_java_runtime_version=remotejdk_11
common --java_runtime_version=remotejdk_11
common --enable_bzlmod

build --enable_runfiles

# Don't source environment from shell
build --incompatible_strict_action_env
run --incompatible_strict_action_env
test --incompatible_strict_action_env

test --test_output=errors